html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante 100% da altura inicial */
}

body {
  min-height: 100%; /* Permite que cresça conforme o conteúdo */
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 9, 121, 1) 29%,
    rgba(98, 138, 255, 1) 100%
  );
  background-attachment: fixed; /* Corrige o fundo para acompanhar o scroll */
  background-size: cover;
  background-repeat: no-repeat;
}

/* Estiliza os botões da rifa */
.numero {
  width: 60px; /* Largura fixa */
  height: 60px; /* Altura fixa */
  font-size: 18px; /* Tamanho do texto */
  font-weight: bold; /* Deixa o número em negrito */
  display: flex; /* Usa flexbox para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  border-radius: 5px; /* Bordas arredondadas */
  margin: 5px; /* Espaçamento entre os botões */
}

/* Estilo adicional para os botões reservados */
.numero.btn-danger {
  background-color: #dc3545; /* Vermelho */
  color: white;
  cursor: not-allowed; /* Cursor desabilitado */
}

/* Estilo adicional para os botões disponíveis */
.numero.btn-success {
  background-color: #28a745; /* Verde */
  color: white;
}

/* Botão selecionado */
.numero.selecionado {
  background-color: #0d6efd; /* Azul */
  color: white;
}

@media (max-width: 768px) {
  #modalSelecao {
    width: 100%; /* Ajusta para caber na tela */
    height: auto; /* Altura ajustável */
    max-height: 80%; /* Limita a altura */
    border-radius: 0; /* Remove bordas arredondadas */
  }

  #modalHeader {
    font-size: 14px; /* Texto menor para o cabeçalho */
    padding: 5px;
  }

  #modalHeader button {
    font-size: 16px; /* Botão "X" menor */
  }
}



#modalSelecao {
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}
.draggable {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Para garantir que esteja acima de outros elementos */
}

#modalSelecao .modal-dialog {
  padding: 0; /* Remove qualquer padding interno */
  margin: 0; /* Remove margens externas */
}

#modalSelecao .modal-content {
  border: none; /* Remove bordas adicionais, se necessário */
  box-shadow: none; /* Remove sombra, se existir */
}
#modalSelecao .modal-dialog-centered {
  margin: 0; /* Remove margens automáticas */
}

/* Sobrescreve os estilos problemáticos */
.modal {
  margin: 0 !important; /* Remove a margem */
  box-shadow: none !important; /* Remove a sombra */
  --bs-modal-margin: 0 !important; /* Remove margem padrão */
  --bs-modal-box-shadow: none !important; /* Remove sombra padrão */
  padding: 0; /* Remove padding extra, se necessário */
  position: relative; /* Permite que herde do dialog */
}
.bg-blur {
  backdrop-filter: blur(100px);
}
